<h2><%= @question.title %></h2>

<p><%= @question.content %></p>
<br>

<% if current_user.id == @question.user_id %>
  <%= link_to "Edit Question", edit_question_path(@question), :class => "btn btn-primary" %>
  <%= link_to "Delete Question", question_path(@question),
                                 :data => {:confirm => "You sure?",
                                 :method => "delete"},
                                 :class => "btn btn-primary" %>
<% end %>
